name: Go

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ${{ matrix.os.environment }}
    strategy:
      matrix:
        os:
          - name: linux
            environment: ubuntu-latest
            binary_ext: ''
          - name: windows
            environment: windows-latest
            binary_ext: '.exe'
          - name: macos
            environment: macos-latest
            binary_ext: ''
    name: Build
    steps:
      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Test
        run: go test -v ./...
      - name: Build
        run: go build -o combusken.out combusken.go
      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: combusken-${{matrix.os.name}}${{matrix.os.binary_ext}}
          path: combusken.out
